src/main/webapp/WEB-INF/payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://interbank.com/payment"
           xmlns="http://interbank.com/payment"
           elementFormDefault="qualified">

    <xs:element name="PaymentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="amount" type="xs:double"/>
                <xs:element name="sender" type="xs:string"/>
                <xs:element name="receiver" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PaymentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
